@media screen and (max-width: 850px) {
  .sabres-container {
    /* flex-direction: column; */
    overflow-y: hidden !important;
    /* justify-content: center; */
 
  }
}
.sabres-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   
  }

  .next-data {
    margin-top: 15px;
    width: 20%;
    background: #c93d3d;
  }

  .title-normal {
    margin-top: 5px;
  }
  
  .title-black {
    margin-top: 5px;
    color: #fff;
  
  }
