.title-home {
    margin-top: 10%;
    letter-spacing: 5px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-categorie {
    width: 20%;
    height: 250px;
    margin-right: 10px;
    margin-top: 15px;
    border: solid 5px rgb(66, 58, 58);
    border-radius: 25px ;
    transition: margin-right 0.5s;
}

.nav-categorie:hover {
    margin-right: 15px;
}
.image-container {
    width: 120%;
    margin-left: -40px;
}
.image {
    width: 50%;
    margin-top: 10px;
}

