.title-home {
    margin-top: 10%;
    letter-spacing: 5px;
}



.dark {
    margin-top: 10%;
    letter-spacing: 5px;
    color: #f5f3f3;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-categorie {
    width: 20%;
    height: 250px;
    margin-right: 10px;
    margin-top: 15px;
    border: solid 5px rgb(66, 58, 58);
    background: #f5f3f3;
    color: black;
    border-radius: 25px ;
    transition: margin-right 0.5s;
}
.nav-categorie-dark {
    width: 20%;
    height: 250px;
    margin-right: 10px;
    margin-top: 15px;
    color: #f5f3f3;
    background-color: #141313;
    border: solid 5px rgb(15, 14, 14);
    border-radius: 25px ;
    transition: margin-right 0.5s;
}

.nav-categorie:hover, .nav-categorie-dark:hover {
    margin-right: 15px;
}
.image-container {
    width: 100%
    /* margin-left: -40px; */
}
.image {
    width: 300px;
    max-width: 100%;
    margin-top: 10px;
}
@media screen and (max-width: 990px) {
    .nav-container {
      flex-direction: column;
      
    }

    .nav-categorie, .nav-categorie-dark {
        width: 90%;
    }

  }

@media screen and (max-width: 465px) {
    .nav-categorie, .nav-categorie-dark {
        width: 100%;
    }
}

