@keyframes move {
  0% {
    right: 0px;
  }
  25% {
    right: 200px;
  }
  50% {
    right: 200px;
  }
  75% {
    right: 0px;
  }
  100% {
    right: 0px;
    opacity: 0;
  }
}

/* The element to apply the animation to */
.divContainer {
  width: 70%;
  height: 350px;
  position: absolute;
  margin: auto;
  background-color: rgb(190, 177, 177);
  top: 50%;
  left: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
  transition: 0.5s linear left;
}

.divContainer2 {
  width: 70%;
  height: 350px;
  position: absolute;
  margin: auto;
  background-color: rgb(190, 177, 177);
  top: 50%;
  left: 50%;
  right: -50%;
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: right linear 0.5s, opacity linear 0.5s;
}

.move {
  opacity: 0.5;
  left: -50%;
}

.move-come {
  right: 0%;
}

.div {
  width: 100%;
  margin: auto;
}
